{% extends 'header.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static '.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'p_desc.js' %}"></script>
{% endblock %}

{% block title %}topwears{% endblock %}

{% block content %}
<!-- content start -->
 <div class="container-fluid" style="margin-top: 5rem;">
    <div class="row text-center" style="flex-direction: column;letter-spacing: 5px;">
        <h1>{{category.category_name}}</h1>
        <p>breadcrumbs</p>
    </div>
 </div>

<!-- Filter Section -->
<div class="container" style="">
    <div class="row justify-content-center p-3 row-gap-3" style="background-color:#e4e4e4;">
        <div class="col-md-2">
            <select class="form-select" aria-label="Product Style">
                <option selected>Product Style</option>
                <option value="1">Cargo</option>
                <option value="2">Jeans</option>
                <option value="3">Shorts</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-select" aria-label="Price">
                <option selected>Price</option>
                <option value="1">500 - 1000</option>
                <option value="2">1000 - 2000</option>
                <option value="3">2000 & Above</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-select" aria-label="Size">
                <option selected>Size</option>
                <option value="1">S</option>
                <option value="2">M</option>
                <option value="3">L</option>
                <option value="4">XL</option>
                <option value="5">XXL</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-select" aria-label="Made with">
                <option selected>Made with</option>
                <option value="1">Cotton</option>
                <option value="2">Linen</option>
                <option value="3">Denim</option>
                <option value="4">Wool</option>
            </select>
        </div>
    </div>
</div>
<!--filter end-->

<main class="container" style="margin-top: 2rem;">
    <div class="row justify-content-center justify-content-md-start">
            {% for i in clothitems %}
        <div class="col-lg-3 col-md-4 col-6">
            <a href="/{{i.category}}/{{i.item_id}}" class="col-12 text-decoration-none">
            <div class="card p-0 border-0">
            <img src="{{i.images.first.image_url.url}}" class="card-img-top" style="border-radius:0;" alt="..." style="height:25%;">
            <div class="card-body p-0">
                <h6 class="card-title m-0" style="font-size:small;color:#000000">Stormx</h6>
              <h6 class="card-title mb-0" style="font-size:large;color:#0000008a;height:3rem;">{{i.item_name}}</h6>
<!--              <p class="card-text text-truncate mb-0">{{i.description}}</p>-->
            </div>
          </div>
        </a>
            <div class="row mt-1 align-items-center">
                <p class="col-10 m-0"><b>MRP {{i.price}}</b></p>
                <!-- Heart Button -->
                <button class="btn col-2 add-to-wishlist" style="color: #e1232394;border-style:none;font-size:large;" data-item-id="{{ i.item_id }}" data-category-id="{{ i.category.category_id }}"><i class="fas fa-heart"></i></button>
            </div>
        <span>available in {{i.size.count}} sizes</span>
        </div>


      {% endfor %}

    </div>
</main>

<!-- content end -->
{% endblock %}

