{% extends 'header.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'products.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'p_desc.js' %}"></script>
{% endblock %}

{% block title %}topwears{% endblock %}

{% block content %}
<!-- content start -->
 <div class="container-fluid" style="margin-top: 5rem;">
    <div class="row text-center" style="flex-direction: column;letter-spacing: 5px;">
        <h1>{{category.category_name}}</h1>
        <p>breadcrumbs</p>
    </div>
 </div>

<!-- Filter Section -->
<div class="container" style="">
    <div class="row justify-content-center p-3 row-gap-3" style="background-color:#e4e4e4;">
        <div class="col-md-2">
            <select class="form-select" aria-label="Product Style">
                <option selected>Product Style</option>
                <option value="1">Cargo</option>
                <option value="2">Jeans</option>
                <option value="3">Shorts</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-select filter-select" id="price-select" name="price" data-category-id="{{ category.category_id }}" aria-label="Price">
                <option selected>Price</option>
                <option value="low">Low to High</option>
                <option value="high">High to Low</option>
            </select>
        </div>

        <div class="col-md-2">
            <select class="form-select filter-select" id="size-select" data-category-id="{{ category.category_id }}" name="size" aria-label="Size">
                <option selected value="0">Size</option>
                {% for i in sizes %}
                <option value="{{i.size_id}}" >{{i.sizes}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">
            <select class="form-select" aria-label="Made with">
                <option selected>Made with</option>
                <option value="1">Cotton</option>
                <option value="2">Linen</option>
                <option value="3">Denim</option>
                <option value="4">Wool</option>
            </select>
        </div>
    </div>
</div>
<!--filter end-->

<main class="container itemBody" style="margin-top: 2rem;">
    {% include 'clothitems.html' %}
</main>

<div class="container d-flex justify-content-center">
    <p class="text-center text-secondary fw-1 col-10 mt-5">The world wide web is evolving at a relentless pace, and with an accelerated growth each passing year, there is bound to be an overwhelming surge of online content. It was for this very reason that personalisation of search feeds was proposed as a solution to combat the overload of irrelevant information.</p>
</div>
<!-- content end -->
{% endblock %}

