{% extends 'header.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static '.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'p_desc.js' %}"></script>
{% endblock %}

{% block title %}Cart{% endblock %}

{% block content %}
    <!-- content start -->
    <div class="container my-5">
        <h3>Shopping Cart</h3><br>
        <div class="row">
            <div class="col-12 col-md-8 order-2 order-md-1">
{% if cart_items %}
    {% for i in cart_items %}
                <div class="pt-0 pb-0 ps-4 pe-4  mb-4 border">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <a href="/{{i.cloth_item.category.category_name}}/{{i.cloth_item.item_id}}" class="text-dark text-decoration-none flex-grow-1">{{i.cloth_item.item_name}}</a>
                        <form method="post" action="/deletefromcart/{{i.cloth_item.item_id}}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-light p-1" aria-label="remove">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </form>
                    </div>

                    <div class="d-flex">
                        <div class="me-3">
                            <img src="{{i.cloth_item.images.first.image_url.url}}" alt="Polo shirt" class="img-fluid" style="width: 100px;">
                        </div>
                        <div class="flex-grow-1">
                            <p class="mb-1">Size: small</p>
                            <p class="mb-1">Color: Beige green</p>
                            {% if i.cloth_item.stock >= 0 %}
                            <p class="mb-3 text-success">In stock</p>
                            {% else %}
                            <p class="mb-3 text-danger">Out of stock</p>
                            {% endif %}
                            <div class="d-flex justify-content-between">
                                <div class="row">
                                    <p class="col-12">MRP: {{i.cloth_item.price}}</p>
                                </div>
                                <div>
                                    <label for="quantity" class="form-label">Qty:</label>
                                    <select class="form-control w-auto d-inline-block quantity" name="quantity">
                                        {% for num in quantity_range %}
                                         <option value="{{ num }}" {% if i.quantity == num %}selected{% endif %} data-qty-no = {{num}} data-cloth-id = {{i.cloth_item.item_id}} >{{ num }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <div>
                                    <p class="mb-1">Total</p>
                                    <p><b>MRP:</b> {{i.total_price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <div class="p-4 mb-4 text-center">
                        <img class="col-5 m-auto" src="{% static 'static/images/cart-empty.jpg' %}" alt="">
                        <p>Add items to cart</p>
                    </div>
                {%endif%}
            </div>
            <div class="col-12 col-md-4 order-1 order-md-2 mb-4 mb-md-0">
                <div class="p-4 border">
                    <p><strong>Shipping:</strong> Standard delivery</p>
                    <p><strong>Shipping cost:</strong> Free delivery</p>
                    <p><strong>Tax:</strong> {{overall_tax}}</p>
                    <p><strong>Total:</strong> {{overall_total}}</p>
                    <button class="btn btn-primary w-100">Checkout</button>
                </div>
            </div>
        </div>
    </div>

    <!-- content end -->
{% endblock %}