* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand, .navbar-brand-centered {
    letter-spacing: -4px;
    font-weight: 400;
    font-size: 25px;
    color: #282828;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav.ms-auto {
    margin-left: auto;
}

.navbar-collapse {
    justify-content: flex-end;
}

@media (max-width: 992px) {
    .navbar-brand-centered {
        position: static;
        transform: none;
    }
    .navbar-collapse {
        background-color: #ffffff;
        position: fixed;
        top: 0;
        right: -250px;
        height: 100%;
        width: 250px;
        padding-top: 60px;
        transition: right 0.3s;
    }
    .navbar-collapse.show {
        right: 0;
    }
}

.nav-link {
    font-size: 16px;
    color: #282828;
    text-decoration: none;
    transition: text-decoration 0.5s;
}

.nav-link:hover {
    text-decoration: underline;
}

/* content start */
main {
    margin-top: 3rem;
}

@media (max-width: 768px) {
    main {
        margin-top: 5rem;
    }
}

.btn {
    cursor: pointer;
}

.logindiv{
width: 60%;
}

.loginform{
row-gap: 20px;
width: 50%;
display: none;
}

@media (max-width: 600px) {
  .logindiv {
    width: 100%;
    margin-top: 7rem;
  }

  .loginform {
    width: 90%;
    row-gap: 20px;
  }
}

/* Review Section */
.container h1, .container h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    font-weight: bold;
    color: #282828;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: none;
}

.fa-star, .fa-star-o {
    color: #FFD700;
}

textarea {
    resize: none;
}

@media (max-width: 767px) {
    .container h1, .container h3 {
        font-size: 1.5rem;
    }
}
